@{
    List<News> news10host = (List<News>)ViewBag.news10hot;
    List<About> abouts = (List<About>)ViewBag.abouts;
}

<link rel="stylesheet" href="~/css/introduce.css">
<!-- Thong tin goi nho -->
<div class="goinho">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="thongtin">
                    <small>Trang chủ > </small><small>Giới thiệu về doanh nghiệp</small>
                </div>
            </div>
        </div>
    </div>
</div> <!-- the end goi nho -->
<!-- Thong tin khach san -->
<!-- Thong tin khach san -->
<div class="motakhachsan">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Giới thiệu</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="tinkhachsan">CÔNG TY CỔ PHẦN DU LỊCH VIỆT NAM</p>
            </div>
        </div>
    </div>
</div>

<!--  Section -->
<div class="gioithieu">
    <div class="container">
        <div class="row">
            <h5 style="color: red;">@ViewBag.ErrorSystem</h5>
            @if (abouts != null)
            {
                <div class="aboutcompany">
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(@abouts.ElementAtOrDefault(0).Detail))
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 khoangcach">
                    <iframe src="@abouts.ElementAtOrDefault(0).Image" width="100%" height="330" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            }
            else 
            {
                <h5 style="color: red;">Chúng tôi sẽ cập nhật thông tin sớm nhất có thể</h5>
            }
        </div>
    </div>
</div>

<!-- infor relation -->
<div class="thongtinlienquan">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>THÔNG TIN NỔI BẬT</h3>
            </div>
        </div>
    </div>
</div>

<!-- content relation -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="large-12 columns">
                    <div class="owl-carousel owl-theme">
                        @if (news10host != null)
                        {
                            @foreach (var news in news10host)
                            {
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="thumbnail">
                                                <img src="https://localhost:44384/images//@news.Image" alt="">
                                                <div class="caption">
                                                        @if (news.Name.Length > 65)
                                                        {
                                                            <h4>@news.Name.Substring(0, 65);...</h4>
                                                        }
                                                        else
                                                        {
                                                            <h4>@news.Name</h4>
                                                        }
                                                    <div class="eye">
                                                        <p>
                                                            <span class="fa fa-calendar"></span>&nbsp; @news.ModifiedDate
                                                            &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;@news.ViewCount</small>
                                                        </p>
                                                    </div>
                                                        @if (news.Description.Length > 145)
                                                        {
                                                            <p>@news.Description.Substring(0, 145);...</p>
                                                        }
                                                        else
                                                        {
                                                            <p>@news.Description</p>
                                                        }                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @*the end 1 item*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
