@*@model List<Tour>*@

@model PagedList.IPagedList<Tour>
@{
    int p = ViewContext.RouteData.Values["id"] != null ? Convert.ToInt32(ViewContext.RouteData.Values["id"]) : 1;
}

<!-- Thong tin goi nho -->
<div class="goinho">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="thongtin">
                    <small>Trang chủ > </small><small>Khách Sạn</small>
                </div>
            </div>
        </div>
    </div>
</div> <!-- the end goi nho -->
<!-- Thong tin khach san -->
<div class="motakhachsanall">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2> CÁC TOUR DU LICH</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="danhgia">Đánh giá:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<p class="tinkhachsan">Du lịch Đà Nẵng, tên đầy đủ là Đại công quốc Luxembourg, là một quốc gia nhỏ nằm trong lục địa ở Tây Âu, giáp với Bỉ, Pháp, và Đức. Luxembourg là một nước theo dân chủ đại nghị và quân chủ lập hiến, được cai trị bởi một đại công tước và là đại công quốc duy nhất còn tồn tại trên thế giơi. Du lịch đến Luxembourg, du khách sẽ được thưởng lãm những thắng cảnh cổ xưa vô cùng thú vị và đầy quyến rũ như: Những khu phố cổ có đường rải sỏi, những pháo đài thời trung cổ trên đỉnh đồi cùng khung cảnh đồi núi tự nhiên, đất nông nghiệp và lưu vực sông.</p>*@
            </div>
        </div>

    </div>
</div>
<!--  Demos -->
<div class="row1">
    <div class="container">
        <div class="row">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 item">
                        <div class="thumbnail">
                            <a href="/home/detailtour/@item.TourId"><img src="https://localhost:44384/images/@item.Image" alt=""></a>
                            <div class="captionbottomimage">
                                @item.Name
                            </div>
                            <div class="caption">
                                <div class="review">
                                    <p>
                                        <span class="fa fa-history"></span>
                                        &nbsp;Lịch trình: @item.Schedule
                                    </p>
                                </div>

                                <div>
                                    <p><span class="fa fa-calendar"></span>&nbsp; Khởi hành: @item.StartDate</p>
                                </div>

                                <div class="detailItem">
                                    <b class="pull-right price">Giá: @item.Price đ</b>
                                    <p>
                                        <span class="fa fa-user book"></span>
                                        &nbsp;Vé còn: @item.Quantity
                                    </p>
                                </div>

                            </div>
                        </div> <!-- end slide left 2 item 1 -->
                    </div> <!-- the end column1 row 1 -->
                }
            }
            else
            {
                <h5 style="color: red;">Thông tin không có, vui lòng thử lại sau</h5>
            }    
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                @if (Model != null)
                {
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {

                        @if (p == i)
                        {
                            <li class="page-item active"><a class="page-link" href="/tour/alltour/@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item "><a class="page-link" href="/tour/alltour/@i">@i</a></li>
                        }
                    }
                }
                else
                {
                    <h5 style="color: red;">Thông tin không có, vui lòng thử lại sau</h5>
                }
            </ul>
        </nav>
    </div>
    <!-- Thêm mã phân trang -->


</div> <!-- the end row 1 -->