@model Member

@{
    Layout = "_LayoutRegister";
}
<div class="formregister">

    <form class="formwidth" action="/auth/register" method="post" accept-charset="utf-8">
        <div style="color: red; font-size: 13px;" asp-validation-summary="ModelOnly"></div>
        <div class="form-group khoangcach">
            <input type="text" id="username" asp-for="UserName" class="form-control" placeholder="Nhập Username">
            <span style="color: red; font-size: 13px;" asp-validation-for="UserName"></span>
            <small style="color: red; font-size: 13px;">@ViewBag.ErrorUserName</small>
        </div>
        <div class="form-group khoangcach">
            <input type="text" id="brithday" class="form-control" asp-for="Birthday" placeholder="Nhập ngày sinh">
            @if (ViewBag.ErrorBrithday != "1")
            {
                <small style="color: red; font-size: 13px;">@ViewBag.ErrorBrithday</small>
            }
        </div>
        <div class="form-group khoangcach">
            <input type="text" id="email" class="form-control" asp-for="Email" placeholder="Nhập Email">
            <span style="color: red; font-size: 13px;" asp-validation-for="Email"></span>
        </div>
        <div class="form-group khoangcach">
            <input type="text" id="phone" class="form-control" asp-for="Phone" placeholder="Nhập Số điện thoại">
            <span style="color: red; font-size: 13px;" asp-validation-for="Phone"></span>
        </div>
        <div class="form-group khoangcach">
            <input type="text" id="address" class="form-control" asp-for="Address" placeholder="Nhập địa chỉ">
            <span style="color: red; font-size: 13px;" asp-validation-for="Address"></span>
            <small style="color: red; font-size: 13px;">@ViewBag.ErrorUserAddress</small>
        </div>
        <div class="form-group khoangcach">
            <input type="text" name="password" id="password" class="form-control" asp-for="Password" placeholder="Nhập Password">
            @if (ViewBag.ErrorPassword != "1")
            {
                <small style="color: red; font-size: 13px;">@ViewBag.ErrorPassword</small>
            }
        </div>
        <div class="form-group khoangcach">
            <input type="text" name="confirmPassword" id="confirmpassword" class="form-control" placeholder="Nhập Lại Mật Khẩu">
            @if (ViewBag.ErrorPassword != "1")
	        {
                <small style="color: red; font-size: 13px;">@ViewBag.ErrorPassword</small>
	        }
        </div>
        <p class="text-center"> <button type="submit" class="noderesgiter">ĐĂNG KÝ</button></p>
        <p class="text-center">Bạn đã có tài khoản?&nbsp;&nbsp;<a href="/auth/login" title="" class="dangnhap">ĐĂNG NHẬP</a></p>
    </form>
</div>