@model List<TourCategory>
<a class="btn btn-success" asp-action="Create">Crate</a>
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>

            <th>Name</th>
            <th>SeoTitle</th>
            <th>MetaTitle</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Modified Date</th>
            <th>Modified By</th>
            <th> Status</th>
            <th>Show On HOme</th>
            <th>Type Of Tour</th>
            <th> ParentId</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
       {
           <tr>
  
               <td>@item.Name</td>
               <td>@item.SeoTitle</td>
               <td>@item.MetaTitle</td>
               <td>@item.CreateDate</td>
               <td>@item.CreatedBy</td>
               <td>@item.ModifiedDate</td>
               <td>@item.ModifiedBy</td>
               <td>@item.Status</td>
               <td>@item.ShowOnHome</td>
               <td>@item.TypeOfTourId</td>
               <td>@item.ParentId</td>
               <td>
                    <a asp-action="Edit" asp-route-id="@item.TourCategoriesId"><i class="fa fa-edit"></i></a>
                </td>
                <td>
                    <a href="/dashboard/news/confirmdelete/@item.TourCategoriesId"><i class="fa fa-trash"></i></a>
                </td>
           </tr>
       }
    </tbody>
</table>
<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    $('.table').DataTable();
</script>