@{
    var news10hot = (List<News>)ViewBag.news10hot;
    var abouts = (List<About>)ViewBag.abouts;
}
<link rel="stylesheet" href="~/css/ordercontact.css">

<!-- Thong tin goi nho -->
<div class="goinho">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="thongtin">
                    <small>Trang chủ > </small>
                    <small>Liên hệ tới chúng tôi</small>
                </div>
            </div>
        </div>
    </div>
</div> <!-- the end goi nho -->
<!-- Section -->
<div class="lienhechungtoiorder">
    <div class="container">
        @if (abouts != null)
	     {
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p class="contentorderlienhe">
                    HÃY LIÊN HỆ VỚI CHÚNG TÔI SỚM ĐỂ NẮM RÕ THÔNG TIN HÓA ĐƠN
                </p>
            </div>
            <!-- the end title -->

            <div class="informationorder">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                        <p>Địa chỉ tòa nhà công ty: </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                        <small class="aaaa">@abouts.ElementAtOrDefault(0).Address</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                        <p>Số điện thoại liên hệ: </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                        <small>@abouts.ElementAtOrDefault(0).Phone</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                        <p>Thông tin email liên hệ: </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                        <small>@abouts.ElementAtOrDefault(0).Email</small>
                    </div>
                </div>
            </div>
            <!-- the end lien he -->

            <div class="bandolienhe">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <iframe src="@abouts.ElementAtOrDefault(0).Image" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
	     }
    </div>
</div>

<!-- infor relation -->
<div class="thongtinlienquan">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>THÔNG TIN NỔI BẬT</h3>
            </div>
        </div>
    </div>
</div>

<!-- content relation -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="large-12 columns">
                    <div class="owl-carousel owl-theme">
                        @if (news10hot != null)
                        {
                            @foreach (var news in news10hot)
                            {
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="thumbnail">
                                                <img src="https://localhost:44384/images/@news.Image" alt="">
                                                <div class="caption">

                                                    @if (news.Name.Length > 65)
                                                    {
                                                        <h4>@news.Name.Substring(0, 65)...</h4>
                                                    }
                                                    else
                                                    {
                                                        <h4>@news.Name</h4>
                                                    }


                                                    <div class="eye">
                                                        <p>
                                                            <span class="fa fa-calendar"></span>&nbsp; @news.ModifiedDate
                                                            &nbsp;&nbsp; &nbsp;<small><span class="fa fa-eye"></span>&nbsp;@news.ViewCount</small>
                                                        </p>
                                                    </div>


                                                    @if (news.Description.Length > 145)
                                                    {
                                                        <p>@news.Description.Substring(0, 145).ToString()...</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@news.Description</p>
                                                    }


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @*the end 1 item*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
