@model WebClient.Models.Contact;
@{
    var abouts = (List<About>)ViewBag.abouts;
}

<div class="category1">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span> &nbsp;&nbsp;<span>Du lịch</span> <a href="">NƯỚC NGOÀI</a></h3>
                </div>
            </div> <!-- end left 1 cate -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span>&nbsp;&nbsp;<span>Du lịch</span> <a href="">TRONG NƯỚC</a></h3>
                </div>

            </div> <!-- end left 2 cate -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span>&nbsp;&nbsp;<span>Du lịch</span> <a href="">GIA ĐÌNH</a></h3>
                </div>
            </div> <!-- end left 3 cate -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span>&nbsp;&nbsp;<span>Combo</span> <a href="">DU LỊCH</a></h3>
                </div>
            </div> <!-- end left 4 cate -->
        </div>

    </div>
</div> <!-- end cate -->
<!-- Content Contact -->
<div class="ContactContent">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Thông tin liên hệ</h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contentleft">
                <div class="caption">
                    <p>
                        Nếu quý khách có thắc mắc hay đóng góp xin vui lòng điền vào Form dưới đây và gửi cho chúng tôi. Xin chân thành cảm ơn!
                    </p>
                </div>
                <form asp-controller="Contact" asp-action="DisplayContact" method="post" accept-charset="utf-8">
                    <div class="form-group editform">
                        <label>Họ tên <span>(*)</span></label>
                        <input type="text" asp-for="Name" placeholder="Họ tên" class="form-control"
                               id="hoten">
                        <span style="color: red; font-size:13px; " asp-validation-for="Name"></span>                       

                    </div>
                    <div class="form-group editform">
                        <label>Tên công ty</label>
                        <input type="text" asp-for="Company" placeholder="Tên công ty" class="form-control"
                               id="tencongty">
                        <span style="color: red" asp-validation-for="Company"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group editform">
                                <label>Email <span>(*)</span></label>
                                <input type="text" asp-for="Email" placeholder="Email" class="form-control"
                                       id="email">
                                <span style="color: red" asp-validation-for="Email"></span>
                            </div>
                        </div> <!-- the end cot 1 -->

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group editform">
                                <label>Điện thoại <span>(*)</span></label>
                                <input type="text" asp-for="Phone" placeholder="Điện thoại" class="form-control"
                                       id="dienthoai">
                                <span style="color: red" asp-validation-for="Phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group editform">
                        <label>Tiêu đề <span>(*)</span></label>
                        <input type="text" asp-for="Title" placeholder="Tiêu đề" class="form-control"
                               id="tieude">
                        <span style="color: red" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group editform">
                        <label>Nội dung <span>(*)</span></label>
                        <textarea class="form-control" asp-for="Content" id="noidung" rows="4"></textarea>
                        <span style="color: red" asp-validation-for="Content"></span>
                    </div>

                    <div class="form-group guilienhe">
                        <button type="submit"><span class="btn-value gui">Gửi</span></button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 contentright">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <iframe src="@abouts.ElementAtOrDefault(0).Image" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 thongtinphu">
                        <div>
                            <h3>@abouts.ElementAtOrDefault(0).Name</h3>
                        </div>
                        <div>
                            <p><i class="fa fa-home"></i>&nbsp;&nbsp;<span>Địa chỉ:</span> @abouts.ElementAtOrDefault(0).Address</p>
                        </div>
                        <div>
                            <p><i class="fa fa-phone"></i>&nbsp;&nbsp;<span>Điện thoại:</span>  @abouts.ElementAtOrDefault(0).Phone</p>
                        </div>
                        <div class="nganduoi">
                            <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<span>Email:</span> @abouts.ElementAtOrDefault(0).Email</p>
                        </div>
                    </div>
                    <!-- Tro Giup -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 thongtinphu">
                        <div>
                            <h3>BẠN CẦN TRỢ GIÚP?</h3>
                        </div>

                        <div>
                            <p><i class="fa fa-phone"></i>&nbsp;&nbsp;<span>Hotline:</span> @abouts.ElementAtOrDefault(0).Phone</p>
                        </div>
                        <div>
                            <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;<span>Email:</span> @abouts.ElementAtOrDefault(0).Email</p>
                        </div>
                        <div>
                            <p><i class="glyphicon glyphicon-time"></i>&nbsp;&nbsp;<span>Hoạt động:</span> Từ 8h:00 - 18h:00 hằng ngày</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


