@{
    Layout = "_Layout";
}

@{
    List<News> fourNews = ViewBag.fournews;
    List<News> threeNewsOutstanding = (List<News>)ViewBag.newsoutstanding;
    List<Tour> listTours = ViewBag.tours;
    News newshot = ViewBag.news;
}
<div class="category1">
    <div class="container">
        <h3 style="color: red;">@ViewBag.ErrorSyste </h3>
        <div class="row">
        </div>
    </div>
</div> <!-- end cate -->

<div class="category1">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span> &nbsp;&nbsp;<span>Du lịch</span> <a href="/tour/typeoftour/8b3rg2y01g6flav24l4msqa4ffh4vmv1edvn6jc1ajbzfao4iw065v87f0mwssdq">NƯỚC NGOÀI</a></h3>
                </div>
            </div> <!-- end left 1 cate -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span>&nbsp;&nbsp;<span>Du lịch</span> <a href="/tour/typeoftour/1s1wssh65m5b2jxa4jlcas7cxtlrvft9a87i8rqggfuz65fetk7i1pfhgyji4dpj">TRONG NƯỚC</a></h3>
                </div>

            </div> <!-- end left 2 cate -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span>&nbsp;&nbsp;<span>Du lịch</span> <a href="">GIA ĐÌNH</a></h3>
                </div>
            </div> <!-- end left 3 cate -->
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                <div class="containercategory1">
                    <h3><span class="fa fa-user"></span>&nbsp;&nbsp;<span>Combo</span> <a href="">DU LỊCH</a></h3>
                </div>
            </div> <!-- end left 4 cate -->
        </div>

    </div>
</div> <!-- end cate -->

<div class="showproduct">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 leftshow">
                <h2>TOUR DU LỊCH</h2>
            </div>
            <!-- end colunm 1 into category name -->
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="padding-top: 21px; padding-bottom:5px;">
                <div class="leftview" style="margin-left: -10px;">
                    <a style="text-decoration: none; color: black;" href="/tour/alltour"><span class="fa fa-eye">&nbsp;&nbsp;</span>Xem tất cả</a>
                </div>
            </div>
        </div>
        <div class="row">
            @if (listTours == null)
            {
                <h5 style="color: red" class="text-center">Danh sách tour không tồn tại. Cảm ơn!</h5>
            }
            <div id="carousel-id2" class="carousel slide">

                <ol class="carousel-indicators">

                    @if (listTours != null)
                    {
                        @if (listTours.Count() > 0)
                        {
                            <li data-target="#carousel-id2" data-slide-to="0" class="active"></li>

                            for (int i = 1; i < (listTours.Count() / 4) + 1; i++)
                            {
                                <li data-target="#carousel-id2" data-slide-to="@i" class=""></li>
                            }
                        }
                    }

                    @*   					<li data-target="#carousel-id2" data-slide-to="0" class="active
                "></li>
                <li data-target="#carousel-id2" data-slide-to="1" class=""></li>
                <li data-target="#carousel-id2" data-slide-to="2" class=""></li>*@
                </ol>
                @if (listTours != null)
                {
                    @if (listTours.Count() > 0)
                    {
                        <div class="carousel-inner">


                            <div class="item active">
                                <div class="row">
                                    @if (listTours.Count() < 4)
                                    {
                                        for (var i = 0; i < listTours.Count(); i++)
                                        {
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <div class="thumbnail" style="height:400px;">
                                                    <a href="/home/detailtour/@listTours[i].TourId"><div><img src="https://localhost:44384/images/@listTours[i].Image" width="70" alt="" style="height:200px;"></div></a>
                                                    <div class="captionbottomimage">
                                                        @*Du lịch Đà Nẵng - Ngũ Hành Sơn - Bà Nà - Phố Cổ Hội An từ Sài Gòn giá tốt*@
                                                        <a href="/home/detailtour/@listTours[i].TourId"> @listTours[i].Name</a>
                                                    </div>
                                                    <div class="caption">
                                                        <div>

                                                            <p>
                                                                <span class="fa fa-history"></span>
                                                                &nbsp;@*Lịch trình: 3 ngày 2 đêm*@ @listTours[i].Schedule
                                                            </p>

                                                        </div>
                                                        <div>

                                                            <p><span class="fa fa-calendar"></span>&nbsp; @*Khởi hành: 19/2/2021*@ Khởi hành: @listTours[i].StartDate.Day / @listTours[i].StartDate.Month / @listTours[i].StartDate.Year</p>

                                                        </div>
                                                        <div>
                                                            <b class="pull-right">@listTours[i].Price đ</b>

                                                            <p><span class="fa fa-user"></span>&nbsp; Số vé:  @listTours[i].Quantity</p>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div> <!-- end slide left 1 item 1 -->
                                        }
                                    }
                                    else
                                    {
                                        for (var i = 0; i < 4; i++)
                                        {
                                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                <div class="thumbnail" style="height:400px">
                                                    <a href="/home/detailtour/@listTours[i].TourId"><div><img src="https://localhost:44384/images/@listTours[i].Image" width="70" alt="" style="height:200px;"></div></a>
                                                    <div class="captionbottomimage">
                                                        @*Du lịch Đà Nẵng - Ngũ Hành Sơn - Bà Nà - Phố Cổ Hội An từ Sài Gòn giá tốt*@
                                                        @listTours[i].Name
                                                    </div>
                                                    <div class="caption">
                                                        <div>

                                                            <p>
                                                                <span class="fa fa-history"></span>
                                                                &nbsp; @*Lịch trình: 3 ngày 2 đêm*@ @listTours[i].Schedule
                                                            </p>

                                                        </div>
                                                        <div>

                                                            <p><span class="fa fa-calendar"></span>&nbsp; @*Khởi hành: 19/2/2021*@ Khởi hành: @listTours[i].StartDate.Day / @listTours[i].StartDate.Month / @listTours[i].StartDate.Year</p>

                                                        </div>
                                                        <div>
                                                            <b class="pull-right">@listTours[i].Price đ</b>

                                                            <p><span class="fa fa-user"></span>&nbsp;Số vé:  @listTours[i].Quantity</p>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div> <!-- end slide left 1 item 1 -->
                                        }
                                    }

                                </div>
                            </div> <!-- end item 1 category -->
                            @for (int i = 1; i < (listTours.Count() / 4) + 1; i++)
                            {
                                <div class="item">
                                    <div class="row">
                                        @if (i * 4 + 4 > listTours.Count())
                                        {
                                            for (int j = 4 * i; j < listTours.Count(); j++)
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                    <div class="thumbnail" style="height:400px;">
                                                        <a href="/home/detailtour/@listTours[j].TourId"><div><img src="https://localhost:44384/images/@listTours[j].Image" width="70" alt="" style="height:200px;"></div></a>
                                                        <div class="captionbottomimage">
                                                            @*Du lịch Đà Nẵng - Ngũ Hành Sơn - Bà Nà - Phố Cổ Hội An từ Sài Gòn giá tốt*@
                                                            @listTours[j].Name
                                                        </div>
                                                        <div class="caption">
                                                            <div>

                                                                <p>
                                                                    <span class="fa fa-history"></span>
                                                                    &nbsp; @*Lịch trình: 3 ngày 2 đêm*@ @listTours[j].Schedule
                                                                </p>

                                                            </div>
                                                            <div>

                                                                <p><span class="fa fa-calendar"></span>&nbsp; @*Khởi hành: 19/2/2021*@ Khởi hành: @listTours[j].StartDate.Day / @listTours[j].StartDate.Month / @listTours[j].StartDate.Year</p>

                                                            </div>
                                                            <div>
                                                                <b class="pull-right">@listTours[j].Price đ</b>

                                                                <p><span class="fa fa-user"></span>&nbsp; Số vé còn: @listTours[j].Quantity</p>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div> <!-- end slide left 1 item 1 -->
                                            }
                                        }
                                        else
                                        {
                                            for (int j = 4 * i; j < i * 4 + 4; j++)
                                            {
                                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                                    <div class="thumbnail" style="height:400px;">
                                                        <a href="/home/detailtour/@listTours[j].TourId"><div><img src="https://localhost:44384/images/@listTours[j].Image" width="70" alt="" style="height:200px;"></div></a>
                                                        <div class="captionbottomimage">
                                                            @*Du lịch Đà Nẵng - Ngũ Hành Sơn - Bà Nà - Phố Cổ Hội An từ Sài Gòn giá tốt*@
                                                            @listTours[j].Name
                                                        </div>
                                                        <div class="caption">
                                                            <div>

                                                                <p>
                                                                    <span class="fa fa-history"></span>
                                                                    &nbsp; @*Lịch trình: 3 ngày 2 đêm*@ @listTours[j].Schedule
                                                                </p>

                                                            </div>
                                                            <div>

                                                                <p><span class="fa fa-calendar"></span>&nbsp; @*Khởi hành: 19/2/2021*@ Khởi hành: @listTours[j].StartDate.Day / @listTours[j].StartDate.Month / @listTours[j].StartDate.Year</p>

                                                            </div>
                                                            <div>
                                                                <b class="pull-right">@listTours[j].Price đ</b>

                                                                <p><span class="fa fa-user"></span>&nbsp; Số vé còn: @listTours[j].Quantity</p>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div> <!-- end slide left 1 item 1 -->
                                            }
                                        }


                                    </div>
                                </div> <!-- end item 2 category -->
                            }


                        </div>
                    }
                }
                <a class="left carousel-control" style="background: none !important;  " href="#carousel-id2" data-slide="prev"><span style="margin: -31% -26%; color: white;" class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" style="background: none !important" href="#carousel-id2" data-slide="next"><span style="margin: -31% -26%; color: white;" class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div> <!-- end row cate 01 -->
    </div>
</div> <!-- end show product -->

<div class="baiviet">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        @if (fourNews != null)
                        {
                            <div class="row">
                                @foreach (var news in fourNews)
                                {
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <hr>
                                        <div class="imageleftnew">
                                            <img src="~/images/@news.Image" alt="khachsan">
                                        </div>
                                        <div class="textrightnew">
                                            <h5>
                                                <a href="/news/detail/@news.NewsId">@news.Name</a>
                                            </h5>
                                            @if (news.Description.Length > 50)
                                            {
                                                <p>@news.Description.Substring(0, 48)...</p>
                                            }
                                            else
                                            {
                                                <p>@news.Description</p>
                                            }

                                        </div>
                                    </div> <!-- end column 1 -->
                                }

                            </div> <!-- end row 1 top khach sann -->
                        }
                        else 
                        {
                            <h5 style="color: red">Tin tức này không tồn tại</h5>
                        }
                    </div>
                </div> <!-- end row 1 in left news khach san -->

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="ngantin">
                            <h2><a href="/news">Tin Du Lịch</a></h2>
                            <hr>
                        </div>

                        @if (newshot != null)
                        {
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hinhanhtindulich">
                                    <img src="https://localhost:44384/images/@newshot.Image" alt="tindulich">
                                </div> <!-- end tin du lich column 1 -->

                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <h4 class="tindulich">
                                        <a href="/news">
                                            @newshot.Name
                                        </a>
                                    </h4>
                                    <p class="timedulich">
                                        <span class="fa fa-history"></span>
                                        <small>@newshot.ModifiedDate</small>
                                    </p>
                                    <p class="noidungdulich">
                                        @newshot.Description
                                    </p>

                                    <a href="/news/detail/@newshot.NewsId" class="btn btn-info">Chi tiết</a>
                                </div> <!-- end tin du lich column 2 -->
                            </div>
                        }
                        else
                        {
                            <h5 style="color: red">Tin tức này không tồn tại</h5>
                        }

                    </div>
                </div> <!-- end row 2 in left news Du lich -->

            </div>
            <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="anhbia">
                            <img src="~/images/biadulich.jpg" alt="biadulich">
                        </div>
                    </div>
                </div><!--  end row 1 right tin quan tam -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 class="tinquantam">Tin Được Quan Tâm</h2>
                        <hr>
                    </div>
                </div> <!--  end row 2 right tin quan tam -->
                <div class="row">

                    @if (threeNewsOutstanding != null)
                    {
                        @if (threeNewsOutstanding.Count() > 0)
                        {
                            @foreach (var newsoutstanding in threeNewsOutstanding)
                            {
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="noidungquantamleft">
                                        <img src="https://localhost:44384/images/@newsoutstanding.Image" alt="">
                                    </div>
                                    <div class="noidungquantamright">
                                        <h5>
                                            <a href="/news/detail/@newsoutstanding.NewsId">
                                                @newsoutstanding.Name
                                            </a>
                                        </h5>

                                        <p>
                                            <span class="fa fa-history"></span>&nbsp;
                                            <small>@newsoutstanding.ModifiedDate</small>
                                        </p>
                                    </div>
                                </div> <!-- noi dung quan tam 1 -->
                            }
                        }

                    }
                    else 
                    {
                        <h5 style="color: red">Tin tức không tồn tại</h5>
                    }
                </div> <!--  end row 2 right tin quan tam -->
            </div>
        </div>
    </div>
</div> <!-- end bai viet -->
