@using System.Security.Claims
@model InvoiceDetailModel
@{
    Tour tour = ViewBag.tour;
    var total = 0;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="~/css/orderdetails.css">
<!-- Thong tin goi nho -->
<div class="goinho">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="thongtin">
                    <small>Trang chủ > </small>
                    <small>Đặt tour</small>
                </div>
            </div>
        </div>
    </div>
</div> <!-- the end goi nho -->
<!-- Section -->

<div class="orderdetails">
    <div class="container">
        <div class="row">
            @if (tour != null)
            {
                <div class="imagechinhsuachieucao">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 imagesleft">
                        <img src="https://localhost:44384/images/@tour.Image">
                    </div>
                </div>
                <!-- the end images -->
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 tableright">
                    <div class="tabletop">
                        <p class="contenttabletop">
                            @tour.Name
                        </p>
                    </div>
                    <div class="tablebottom">
                        <p>
                            Mã tour: &nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="sotabletop">@tour.TourId.Substring(0, 50)</small>
                        </p>
                        <p>
                            Thời gian: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="sotabletop">@tour.Schedule</small>
                        </p>
                        <p>
                            Giá: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="sotabletop">@tour.Price đ</small>
                        </p>
                        <p>
                            Ngày khởi hành: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="sotabletop">@tour.StartDate.Date Ngày khác</small>
                        </p>
                        <p>
                            Nơi khởi hành: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="sotabletop">@tour.StartPlace</small>
                        </p>
                        <p>
                            Số chỗ còn nhận: &nbsp;&nbsp;&nbsp;&nbsp;
                            <small class="sotabletop">@tour.Quantity</small>
                        </p>
                    </div>
                </div>
            }
        </div>
        <!-- the end row 1-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="phiphatsinh">
                    <p>
                        + Các khoản phí phát sinh (nếu có) như: phụ thu dành cho khách nước ngoài, việt kiều; phụ thu phòng đơn; phụ thu chênh lệch giá tour… Nhân viên Du Lịch Việt sẽ gọi điện thoại tư vấn cho quý khách ngay sau khi có phiếu xác nhận booking. (Trong giờ hành chính)
                        Trường hợp quý khách không đồng ý các khoản phát sinh, phiếu xác nhận booking của quý khách sẽ không có hiệu lực.
                    </p>
                    <p>
                        + Trẻ em dưới 12 tuổi cần đi theo người lớn vì chưa đủ trách nhiệm dân sự.
                    </p>
                    <p>
                        + Em bé dưới 5 tuổi được đi cùng một người lớn.
                    </p>
                </div>
                <div class="gachduoiphi">
                    <hr>
                </div>
            </div>
        </div>
        <!-- the end row 2-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12
          banggiatourchitiet text-center">
                <p>
                    BẢNG GIÁ TOUR CHI TIẾT
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tablechitietgia">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-right">Loại giá/độ tuổi</th>
                            <th scope="col" class="text-right">Người lớn(từ 12 tuổi)</th>
                            <th scope="col" class="text-right">Trẻ em(từ 5-11)</th>
                            <th scope="col" class="text-right">Trẻ nhỏ(< 5 tuổi)</th>
                        </tr>
                    </thead>
                    <tbody class="text-right">
                        <tr>
                            <th scope="row" class="text-right">Giá</th>
                            <td><p class="sotabletop">@tour.Price đ</p></td>
                            <td><a href="#" title="">50% giá vé</a></td>
                            <td>Miễn phí</td>
                        </tr>
                        <tr>
                            <th scope="col" class="text-right">Phụ thu nước ngoài</th>
                            @if (tour.Price > 0)
                            {
                                var gia = (@tour.Price * (decimal)0.05);
                                <td>@gia đ</td>
                            }
                            <td>0 đ</td>
                            <td>không</td>
                        </tr>
                        <tr>
                            <th scope="col" class="text-right">Phụ thu phòng đơn</th>
                            @if (tour.Price > 0)
                            {
                                var gia = (@tour.Price * (decimal)0.1);
                                <td colspan="3" class="text-center">@gia đ / (1 người lớn và trẻ em đi cùng)</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- th end row 3 -->
        <form asp-action="Create" asp-controller="Invoice" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (tour != null)
            {
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12
                banggiatourchitiet text-center">
                        <p>
                            THÔNG TIN LIÊN HỆ
                        </p>
                        <small style="color:red; font-size: 23px;">@ViewBag.ErrorRegister</small><br />
                    </div>
                    <div class="formkhoangcanh">
                        <input type="hidden" asp-for="InvoiceId" />
                        <input type="hidden" id="tongcong" asp-for="Price" value="@tour.Price" />
                        <small style="color: red; font-size: 13px;">@ViewBag.ErrPrice</small>
                        <input type="hidden" asp-for="TourId" value="@tour.TourId" />
                        <input type="hidden" asp-for="MemberId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                        <small style="color:red; font-size: 13px;">@ViewBag.ErrorName</small>
                        <div style="color:red; font-size:13px" asp-validation-summary="ModelOnly"></div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 thongtinduoi">
                            <div class="form-group">
                                <input type="text" oninput="enterName();" id="entername" asp-for="FullName" class="form-control" placeholder="Họ và tên">
                                <span style="color:red; font-size:13px" asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 thongtinduoi">
                            <div class="form-group">
                                <input type="text" oninput="enterSdt();" id="entersdt" asp-for="Phone" class="form-control" placeholder="Số điện thoại">
                                <span style="color:red; font-size:13px" asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 thongtinduoi">
                            <div class="form-group">
                                <input type="text" name="email" asp-for="Email" class="form-control" placeholder="Email">
                                <span style="color:red; font-size:13px" asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 thongtinduoi">
                            <div class="form-group">
                                <input type="text" oninput="enterAddress();" id="enteraddress" asp-for="Address" class="form-control" placeholder="Địa chỉ">
                                <span style="color:red; font-size:13px" asp-validation-for="Address" class="text-danger"></span>
                                <small style="color:red; font-size:13px;">@ViewBag.ErrorAddress</small>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 thongtinduoi">
                            <div class="form-group">
                                <input style="color:red; font-size:13px" type="text" asp-for="Description" class="form-control" placeholder="Ghi chú">
                            </div>
                        </div>

                        <!-- the end form thong tin person -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12
                        banggiatourchitiet text-center">
                            <p>
                                THÔNG TIN THAM GIA
                            </p>
                        </div>
                        <div class="khoangcachpersonthamgia">
                            <div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="personprice">
                                        <p>
                                            Số người lớn(>= 12 tuổi)
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" id="slnguoilon" value="1" min="1" max="@tour.Quantity" asp-for="Quantity" class="form-control">
                                        <span style="color:red; font-size:13px" asp-validation-for="Quantity"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                    <div class="personprice">
                                        <p>
                                            Số trẻ em(5 đến dưới 12 tuổi)
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        @{ var ketquatreem = @tour.Quantity - 1; }
                                        <input type="number" id="sltreem" value="0" min="0" max="@ketquatreem" name="quantitySmall" class="form-control">
                                        <span style="color:red; font-size:13px" asp-validation-for="Quantity"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="personprice">
                                            <p>
                                                Phụ thu phòng đơn
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <select id="phu" onchange="phongDon(this);" asp-for="PaymentMore" class="form-control">
                                                <option value="False">Không</option>
                                                <option value="True">Có</option>

                                            </select>
                                        </div>
                                    </div>
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="personprice">
                                            <p>
                                                Số lượng phòng đơn
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <input type="number" id="don" value="0" min="0" max="@tour.Quantity" asp-for="QuantityDepartment" class="form-control" disabled>
                                            <span style="color:red; font-size:13px" asp-validation-for="QuantityDepartment"></span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!-- the end form person tha gia -->

                        <div class="tonggiatridonhang pull-right">
                            <p>Tổng giá trị : <small class="giachot" id="showtongcong">@tour.Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) </small></p>
                        </div>

                    </div>

                </div>
            }

            <!-- the end row 4 -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12
          banggiatourchitiet text-center">
                <p>
                    THÔNG TIN KHÁCH HÀNG
                </p>
            </div>
            <div class="row">
                <input type="hidden" id="ketqua" name="result" value="1" />
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thongtinduoi">
                    <div class="form-group">
                        <input type="text" id="name" name="customername0" class="form-control" placeholder="Họ và tên">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thongtinduoi">
                    <div class="form-group">
                        <input type="text" id="address" name="customeraddress0" class="form-control" placeholder="Địa chỉ">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thongtinduoi">
                    <div class="form-group">
                        <input type="text" id="sdt" name="customersdt0" class="form-control" placeholder="Nhập số điện thoại">
                    </div>
                </div>
            </div>
            <div class="row"><br /></div>
            <p id="subjectInfo"></p>
            <div class="khoangcachphuongthucthanhtoan">
                <div>

                    @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input type="radio" asp-for="Payment" value="0">
                        &nbsp; &nbsp;
                        <label for="phuongthucthanhtoan">
                            Thanh toán qua Mastercard
                        </label>

                    </div>
                </div>*@
                    @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input type="radio" value="1" asp-for="Payment" checked>
                        &nbsp; &nbsp;
                        <label for="phuongthucthanhtoan">
                            Thanh toán qua ngân hàng
                        </label>
                    </div>
                </div>*@
                    @* <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input type="radio" value="2" asp-for="Payment">
                        &nbsp; &nbsp;
                        <label for="phuongthucthanhtoan">
                            Thanh toán qua ví điện tử
                        </label>
                    </div>
                </div>*@
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hoanthanhthanhtoan text-center">
                        <button class="btn btn-success">HOÀN THÀNH</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!-- the end row 5 -->
    </div>
</div>
@if (tour != null)
{
    <script>
        function enterName() {
            var name = document.getElementById("entername").value;
            document.getElementById("name").value = name;
            console.log(name);
        }
        function enterAddress() {
            var address = document.getElementById("enteraddress").value;
            document.getElementById("address").value = address;
            console.log(address);
        }
        function enterSdt() {
            var sdt = document.getElementById("entersdt").value;
            document.getElementById("sdt").value = sdt;
            console.log(sdt);
        }
    </script>
    <script>
        const element = document.getElementsByClassName('#sl');

        function handleKeypress(e) {
            element[0].value = '';
        }

        element[0].addEventListener('keyup', handleKeypress);
    </script>
    <script>
        const element = document.getElementsByClassName('#don');

        function handleKeypress(e) {
            element[0].value = '';
        }

        element[0].addEventListener('keyup', handleKeypress);
    </script>
    <script>
        @*$('#phu').click(function () {
            $("#don").prop("disabled", false);
        });*@

        function phongDon(obj) {
            var giatri = obj.value;
            if (giatri == 'True') {
                $("#don").prop("disabled", false);
            }
            else {
                $("#don").prop("disabled", true);
            }
        }

    </script>
    <script>
        $('#don').change(function () {

            var slnguoilon = $('#slnguoilon').val();
            var sltreem = $('#sltreem').val();
            var sldon = $('#don').val();
            var totalResult = (slnguoilon * @tour.Price) + (sltreem * @tour.Price * 0.5) + (sldon * @tour.Price * 0.1);
            $('#tongcong').val(totalResult);
            $('#showtongcong').html(totalResult);

        });

        $('#slnguoilon').change(function () {

            var slnguoilon = $('#slnguoilon').val();
            var sltreem = $('#sltreem').val();
            var sldon = $('#don').val();
            var result = parseInt(slnguoilon) + parseInt(sltreem);
            document.getElementById('ketqua').value = result;
                if (result > @tour.Quantity)
                {
                    var value = parseInt(slnguoilon) - 1;
                    $('#slnguoilon').val(value);
                    alert("Số người tham gia tối đa là: "+ @tour.Quantity);
                }

            if (result <= @tour.Quantity) {
                $('.ab').remove();
                var sluongtreem = $('#sltreem').val();
                var sluong = $(this).val();
                var total = (sluong * @tour.Price) + (sluongtreem * @tour.Price * 0.5) + (sldon * @tour.Price * 0.1);
                    $('#tongcong').val(total);
                    $('#showtongcong').html(total);

                    for (var k = 1; k < result; k++) {
                        $("#subjectInfo").append(
                            "<div class='row ab'>" +                            
                            "<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 ab thongtinduoi'>" +
                            " <div class='form-group ab'>" +
                            "<input type='text' name='customername" + k + "' placeholder='Nhập tên khách hàng'  class='form-control ab'>  </div> </div>"
                            +
                            "<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 ab thongtinduoi'>" +
                            " <div class='form-group ab'>"+
                            "<input type='text' name='customeraddress" + k + "' placeholder='Nhập địa chỉ'  class='form-control ab'>  </div> </div>"
                            +
                            "<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 ab thongtinduoi'>" +
                            " <div class='form-group ab'>" +
                            "<input type='text' name='customersdt" + k + "' placeholder='Nhập số điện thoại'  class='form-control ab'>  </div> </div>"
                            + "</div>");

                    }
                }


        });

        $('#sltreem').change(function () {

            var slnguoilon = $('#slnguoilon').val();
            var sltreem = $('#sltreem').val();
            var sldon = $('#don').val();
            var result = parseInt(slnguoilon) + parseInt(sltreem);
            document.getElementById('ketqua').value = result;
            if (result > @tour.Quantity)
                {
                    var value = parseInt(sltreem) - 1;
                    $('#sltreem').val(value);
                    alert("Số người tham gia tối đa là: "+ @tour.Quantity);
            }

            if (result <= @tour.Quantity) {
                $('.ab').remove();
                var sluongnguoilon = $('#slnguoilon').val();
                sluongmoi = $(this).val();
                var totalmoi = (sluongnguoilon * @tour.Price) + (sluongmoi * @tour.Price * 0.5) + (sldon * @tour.Price * 0.1);;
                $('#tongcong').val(totalmoi);
                $('#showtongcong').html(totalmoi);

                for (var k = 1; k < result; k++) {
                    $("#subjectInfo").append("<div class='row ab'>" +
                        "<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 ab thongtinduoi'>" +
                        " <div class='form-group ab'>" +
                        "<input type='text' name='customername" + k + "' placeholder='Nhập tên khách hàng'  class='form-control ab'>  </div> </div>"
                        +
                        "<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 ab thongtinduoi'>" +
                        " <div class='form-group ab'>" +
                        "<input type='text' name='customeraddress" + k + "' placeholder='Nhập địa chỉ'  class='form-control ab'>  </div> </div>"
                        +
                        "<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4 ab thongtinduoi'>" +
                        " <div class='form-group ab'>" +
                        "<input type='text' name='customersdt" + k + "' placeholder='Nhập số điện thoại'  class='form-control ab'>  </div> </div>"
                        + "</div>");
                }
            }
        });
    </script>
    <script>

        @*$('#slnguoilon').change(function () {
            var sluongtreem = $('#sltreem').val();
            var sluong = $(this).val();
            var total = (sluong * @tour.Price) + (sluongtreem * @tour.Price);
            $('#tongcong').val(total.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")));
            $('#showtongcong').html(total);
        });*@
        @*$('#sltreem').change(function () {
            var sluongnguoilon = $('#slnguoilon').val();;
            sluongmoi = $(this).val();
            var totalmoi = (sluongnguoilon * @tour.Price) + (sluongmoi * @tour.Price);
            $('#tongcong').val(totalmoi.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")));
            $('#showtongcong').html(totalmoi);
        });*@
       @* var total = 0;
        $('#sl').change(function (){
            var sluong = $(this).val();
            console.log(sluong);
            total = sluong * @tour.Price;
            $('#tongcong').val(total);
            $('#showtongcong').html(total);
        });
         $('#don').change(function (){
            sluongmoi = $(this).val();
             console.log(sluongmoi);
            var total = sluong * @tour.Price;
            $('#tongcong').val(total);
            $('#showtongcong').html(total);
        });*@
    </script>
}
@*@if (tour != null)
    {
        <script>
            $('#sl').change(function (){
                var sluong = $(this).val();
                console.log(sluong);
                var total = sluong * @tour.Price;
                $('#tongcong').val(total);
                $('#showtongcong').html(total);
            });
        </script>
    }
*@